.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;

  background: {
    color: #2f303a;
    image: linear-gradient(to top, $hero-color, $hero-color),
      url("../../images/mobile/Hero-mobile.jpg");
    repeat: no-repeat;
    position: center;
    size: cover;
  }

  color: $primary-bg-color;

  text-align: center;

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../../images/mobile/Hero-mobile@2x.jpg);
  }
}

@media screen and (min-width: 481px) {
  .hero {
    background-image: url(../../images/table/Hero-table.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: url(../../images/table/Hero-table@2x.jpg);
    }
  }
}
@media screen and (min-width: 769px) {
  .hero {
    background-image: url(../../images/desktop/Hero-desktop.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: url(../../images/desktop/Hero-desktop@2x.jpg);
    }
  }
}

.hero-title {
  margin-bottom: 30px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero-button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;

  background-color: $accent-color;
  color: $primary-bg-color;
  border: 1px solid transparent;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
