.container {
  // width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 94px;
  padding-bottom: 94px;

  outline: 3px solid red;

  // MOBILE
  @media screen and (min-width: 480px) {
    width: 480px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  // TABLET
  @media screen and (min-width: 768px) {
    width: 768px;
  }

  // DESCKTOP
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
