// Цвет текста
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$logo-color: #000000;
$primary-bg-color: #ffffff;

// Цвет основной
$bg-color: #2f303a;
$btn-color: #f5f4fa;
$porfolio-card-color: #eeeeee;
$hero-color: rgba(47, 48, 58, 0.4);
$social-color: #afb1b8;

// Анимация
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
